.user-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.no-user h2 {
  display: flex;
  justify-content: center;
}

/* .user-list-container,
.no-user {
  margin-top: 5rem;
} */
