.main-navigation {
  width: 3rem;
  height: 3rem;
  /* background: transparent; */
  /* border: none; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  margin-right: 2rem;
  cursor: pointer;
  color: white;
}

/* .main-navigation span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
} */

.navigation-title {
  color: white;
}

.navigation-title a {
  text-decoration: none;
  color: white;
}

.nav {
  display: none;
}

.drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation {
    display: none;
  }

  .nav {
    display: block;
  }
}
